html, body{
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .calculadora {
    width: 350px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .resultado {
    padding: 10px;
    background-color: #222;
    text-align: right;
    border-radius: 5px 5px 0 0;
  }
  
  .resultado input {
    width: 100%;
    height: 100px;
    font-size: 40px;
    text-align: right;
    border: none;
    background-color: #222;
    color: white;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.3px;
    background-color: #222;
    border-radius: 0 0 5px 5px;
  }
  
  button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 6px;
  }
  
  button:hover {
    background-color: #111;
  }

  .numero{
    background-color: #444;
  }

  .cero{
    margin-top: 1.7px;
    background-color: #666;
    border-radius: 5px;
  }

  @media (max-width: 768px){

    .calculadora {
      width: 100%;
      height: 100%;
    }

    .resultado input {
      height: 38vh;
      font-size: 60px;
    }

    button{
      height: 127px;
    }

  @media (max-height: 770px){
    button{
      height: 86px;
    }
  }

  }
    
 